.dmain{
    background-color: #293132;
    border-top-style:inset;
    border-top-width: 10%;
    border-top-color: #547AA5;
}

.dh1{
    margin-top: 5%;
    margin-left: 5%;
}

.dh2{
    margin-top: 1%;
    margin-left:5%;
    color: #5D737E;
    font-size: 1.7rem;
}


.dh4{
    border-bottom-style: double;
    border-bottom-width: 2px;
    border-bottom-color:#50D8D7
}

.dp{
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 10%;
    padding-bottom: 2%;
    text-align: center;
    border-bottom-color: #547AA5;
    border-bottom-style: inset;
    font-size: 1.1rem;
    color: #50D8D7;
}

.dDwig{
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    opacity: 85%;
    border-style:groove;
}

.dbehind{
    background-color: #474044;
}

.dfoot{
    background-color: #87BBA2;
    margin-bottom: auto;
}

.dopener{
        margin-left: 22%;
        margin-top: 6%;
        margin-right: 22%;
        padding-bottom: 2%;
        text-align: center;
        border-bottom-color: #547AA5;
        border-bottom-style: inset;
    }


    .dCode{
        display: block;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        /* padding-bottom: 5px; */
        opacity: 28%;
    }


    .dLinked{
        margin-left: 4%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .dGit{
        margin-left: 1%;
        margin-bottom: 10px;
        margin-top: 10px;
    }


    .dabout{
        margin-left: 13%;
        margin-top: 3%;
        margin-right: 13%;
        padding-bottom: 2%;
        text-align: center;
        border-bottom-color: #547AA5;
        border-bottom-style: inset;
        font-size: 1.1rem;
    }

    .dMe{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 11px;
        border-width: 1.7px;
        border-style: groove;
    }

    .dcontainer{
        margin-left: 18%;
        margin-top: 3%;
        margin-right: 10%;
        padding-bottom: 1%;
    }

    .dcard{
        border-color: #547AA5;
        border-style: outset;
        border-width: 2px;
        margin-right: 5%;
    }


    .dcard{
        background-color: #FFF07C;
    }


    .dbtn{
        background-color: #87BBA2;
        border-style: groove;
        border-width: 2px;
        border-color: #547AA5;
    }


    .dprojectp{
        text-align: left;
        border-style: none;
        font-size: 1rem;
    }


    .dprojectpic{
        margin-right: auto;
        margin-left: auto;
        margin-top: 6px;
        /* padding-top: 4px; */
        border-style:ridge;
        
    }
