.main{
    background-color: #F0F7EE;
    border-top-style:inset;
    border-top-width: 10%;
    border-top-color: #5D737E;
}

h1{
    margin-top: 5%;
    margin-left: 5%;
}

h2{
    margin-top: 1%;
    margin-left:5%;
}

p{
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 10%;
    padding-bottom: 2%;
    text-align: center;
    border-bottom-color: #5D737E;
    border-bottom-style: inset;
}

.Dwig{
    display: block;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    opacity: 85%;
    border-style:groove;
}

.behind{
    background-color: #F0F7EE;
}

.foot{
    background-color: #87BBA2;
    margin-bottom: auto;
}

.opener{
        margin-left: 22%;
        margin-top: 6%;
        margin-right: 22%;
        padding-bottom: 2%;
        text-align: center;
        border-bottom-color: #5D737E;
        border-bottom-style: inset;
    }
